@model IEnumerable<RTS_Mensajeria.Models.DB_Model.IngresoProveedor>

@{
    ViewBag.Title = "Solicitudes de ingreso";
}

<div class="card card-cascade narrower">
    <div class="view view-cascade primary-color narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <h4 class="ml-3 mb-2 mb-sm-0 pt-1 white-text">
            <span><a href="@Url.Action(" Index","Home")" class="text-decoration-none white-text"><i class="fa fa-home mr-1"></i> Inicio</a></span>
            <span>/</span>
            <span><i class="fa fa-truck mr-1"></i> Proveedores</span>
        </h4>
        <div class="mr-3">
            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                <i class="fas fa-info-circle mt-0"></i>
            </button>
        </div>
    </div>
    <div class="px-4">
        <div class="table-wrapper">
            <br />
            <div class="row">
                <div class="col-md-10">
                    <h2>Listado de solicitudes autorizadas</h2>
                </div>
            </div>
            <br />
            <div class="table-responsive ">
                <table class="table table-hover">
                    <tr>
                        <th>
                            Código Ingreso
                        </th>
                        <th>Proveedor</th>
                        <th>
                            Fecha ingreso
                        </th>
                        <th>
                            Hora de ingreso
                        </th>
                        <th>
                            Elevador
                        </th>
                        <th>Acciones</th>
                    </tr>
                    <tr>
                        <td>
                            SOIN0001
                        </td>
                        <td>
                            Intelaf
                        </td>
                        <td>
                            30/05/2019
                        </td>
                        <td>
                            07:00
                        </td>
                        <td>No</td>
                        <td>
                            <a class="btn btn-sm btn-rounded blue">
                                <i class="fa fa-eye"></i> Detalle
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SOIN0002
                        </td>
                        <td>
                            Cemaco
                        </td>
                        <td>
                            30/05/2019
                        </td>
                        <td>
                            08:00
                        </td>
                        <td>No</td>
                        <td>
                            <a class="btn btn-sm btn-rounded blue">
                                <i class="fa fa-eye"></i> Detalle
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<br />
