@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">

    <h1>Todo lo que necesitas</h1>
    <p class="lead">Un dashboard adaptado a tus necesidades hace que uses tu tiempo efectivamente, las funciones principales e importantes solo para ti.</p>
    <p><a target="_blank" href="http://mensajeria.dynamicsprogressivesystems.com" class="btn btn-primary btn-lg">Ver mas &raquo;</a></p>

    <br />

    <h1>Haz más con nuestro ERP</h1>
    <p class="lead">Si buscas una forma de llevar mejorar la efectividad de tu empresa, somos la opción correcta. Nuestras aplicaciones escalables e ideales para la implementación de ERP, puede aumentar la eficiencia de tus procesos.</p>

</div>

<div class="row jumbotron">
    <div class="col-md-4">
        <h2>Intuitivo</h2>
        <p>

            Nuestro patrón de desarrollo visual basado en Material Design ofrece al usuario final la oportunidad de adaptarse al sistema en cuestión de horas. No es necesaria ninguna capacitación extra para la utilización lo cual es de ayuda para tus empleados.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Configurado</h2>
        <p>Desarrollado sobre la tecnología ASP.NET y el patrón de programación MVC, hace que tu proyecto sea escalable. Hacemos que las futuras actualizaciones sean mas fáciles de implementar y probar.</p>

    </div>
    <div class="col-md-4">
        <h2>Conectado</h2>
        <p>Usamos Microsoft SQL Server para el almacenamiento de datos, soporte de transacciones, y soporte de procesos almacenados. Ofrecemos escalabilidad, estabilidad y seguridad para tus datos..</p>

    </div>
</div>