@model RTS_Mensajeria.Models.IndexViewModel
@{
    ViewBag.Title = "Gestionar";
}

<div class="card card-cascade narrower">
    <div class="view view-cascade primary-color narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <h4 class="ml-3 mb-2 mb-sm-0 pt-1 white-text">
            <span><a href="@Url.Action("Index","Home")" class="text-decoration-none white-text"><i class="fa fa-home mr-1"></i> Inicio</a></span>
            <span>/</span>
            <span><i class="fa fa-tools mr-1"></i> Gestionar</span>
        </h4>
        <div class="mr-3">
            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                <i class="fas fa-info-circle mt-0"></i>
            </button>
        </div>
    </div>
    <div class="px-4">
        <div class="table-wrapper">
            <br />
            <div class="row">
                <div class="col-md-10">
                    <h2>Cambiar la configuración de la cuenta</h2>
                </div>
            </div>
            <hr />
            <dl class="dl-horizontal">
                <dt>Contraseña:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
            {
                        @Html.ActionLink("Cambiar la contraseña", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Crear", "SetPassword")
                    }
                    ]
                </dd>
            </dl>
        </div>
    </div>
</div>
