

<div class="card card-cascade narrower">
    <div class="view view-cascade primary-color narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <h4 class="ml-3 mb-2 mb-sm-0 pt-1 white-text">
            <span><a href="@Url.Action(" Index","Home")" class="text-decoration-none white-text"><i class="fa fa-home mr-1"></i> Inicio</a></span>
        </h4>
        <div class="mr-3">
            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                <i class="fas fa-info-circle mt-0"></i>
            </button>
        </div>
    </div>
    <div class="px-4">
        <div class="table-wrapper">
            <br />
            <div class="row">
                <div class="col-md-10">
                    <h2>Dashboard</h2>
                </div>
            </div>
            <br />
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Solicitudes aceptadas
                    <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Solicitudes rechazadas
                    <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Entregas pendientes
                    <span class="badge badge-primary badge-pill">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Detalles del producto
                    <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Paquetes en espera
                    <span class="badge badge-primary badge-pill">2</span>
                </li>
            </ul>
            <p class="text-small text-muted mb-0 pt-3">* Versión preliminar, puede estar sujetos a cambios del administrador.</p>
            <br />
        </div>
    </div>
</div>
<br /><div class="card card-cascade narrower">
    <div class="px-4">
        <div class="table-wrapper">
            <br />
            <div class="row">
                <div class="col-md-10">
                    <h2>Dashboard</h2>
                </div>
            </div>
            <br />
            <div>
                <!-- Panel -->
                <div class="card mb-lg-0 mb-4">

                    <div class="card-header white-text primary-color">
                        <h5 class="font-weight-500 my-1">Solicitudes</h5>
                    </div>

                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="font-weight-bold dark-grey-text">Estado</th>
                                        <th class="font-weight-bold dark-grey-text">Titulo</th>
                                        <th class="font-weight-bold dark-grey-text">Contacto</th>
                                        <th class="font-weight-bold dark-grey-text">Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="badge green">En camino</span></td>
                                        <td>Entrega de mobiliario</td>
                                        <td>John Doe</td>
                                        <td class="hour">
                                            <span class="grey-text">
                                                <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="badge green">En camino</span></td>
                                        <td>Entrega de documentacion</td>
                                        <td>John Doe</td>
                                        <td class="hour">
                                            <span class="grey-text">
                                                <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="badge warning-color">Pendiente</span></td>
                                        <td>Entrega de comida</td>
                                        <td>John Doe</td>
                                        <td class="hour">
                                            <span class="grey-text">
                                                <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="badge red">Rechazada</span></td>
                                        <td>Entrega de equipo</td>
                                        <td>John Doe</td>
                                        <td class="hour">
                                            <span class="grey-text">
                                                <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <!-- Panel -->
            </div>
            <br />
        </div>
    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        Solicitudes de ingreso
    </div>
    <div class="card-body">
        <h5 class="card-title">¿Cómo crear una solicitud de ingreso?</h5>
        <p class="card-text">En esta pantalla podrás aprender a crear una nueva solicitud de ingreso.</p>
        <a href="#!" class="btn btn-primary">Ver mas</a>
    </div>
</div>
<br />