
@{
    ViewBag.Title = "Index";
}

@using RTS_Mensajeria.Models.DB_Model

@{
    try
    {
        switch (((Int32)Session["user_rol"]))
        {
            case 1:
                @Html.Partial("_DashboardSuperAdmin")
                break;
            case 2:
                @Html.Partial("_DashboardAdmin")
                break;
            case 3:
                @Html.Partial("_DashboardRecepcion")
                break;
            case 4:
                @Html.Partial("_DashboardNormal")
                break;
        }
    }
    catch
    {
        <td>
            Debe iniciar sesión
        </td>
    }
}
